* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-family: 'poppins', sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

p,
input,
button,
li {
  font-size: 1.1rem;
}

.intro {
  min-height: 100vh;
  width: 100%;
  font-family: 'poppins', sans-serif;
}

header {
  width: 95%;
  margin: 0 0 0 auto;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 10vh;
  width: 70%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10rem;
          flex: 1 1 10rem;
}

nav .logo h2 {
  font-size: 1.5rem;
  margin-left: 1rem;
  font-family: 'Orbitron', sans-serif;
}

nav .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 15rem;
          flex: 1 1 15rem;
  list-style: none;
}

main {
  width: 90%;
  margin: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.intro-text {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
}

.intro-text h2, .intro-text h3 {
  padding: 1rem;
  font-family: 'Orbitron', sans-serif;
  background: -webkit-gradient(linear, left top, left bottom, from(#952395), to(#b92039));
  background: linear-gradient(#952395, #b92039);
  -webkit-background-clip: text;
  color: transparent;
  display: block;
}

.intro-text h2 {
  font-size: 4rem;
}

.intro-text h2 {
  font-size: 3.5rem;
}

.intro-text p {
  padding: 1rem;
}

.intro-text a {
  margin: 1rem;
}

.intro-images {
  height: 90vh;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.intro-images svg {
  height: auto;
  max-width: 90%;
}

.splash {
  height: 90vh;
  position: absolute;
  top: 0;
  right: 0;
  min-height: 100%;
  z-index: -1;
}

.active {
  background-color: #383838;
  color: white;
  border-radius: 5px;
  padding: 0.3rem 1.2rem;
}

#plant-left {
  -webkit-animation: plant 1.5s ease infinite alternate;
          animation: plant 1.5s ease infinite alternate;
}

#plant-right {
  -webkit-animation: plant 1.5s ease infinite alternate 0.5s;
          animation: plant 1.5s ease infinite alternate 0.5s;
}

#me {
  -webkit-animation: me 1.5s ease-in-out infinite alternate;
          animation: me 1.5s ease-in-out infinite alternate;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

#clock-arrow {
  -webkit-animation: clock 2s linear infinite;
          animation: clock 2s linear infinite;
  transform-box: fill-box;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

@-webkit-keyframes plant {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
  }
}

@keyframes plant {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
  }
}

@-webkit-keyframes me {
  from {
    -webkit-transform: rotateZ(5deg);
            transform: rotateZ(5deg);
  }
  to {
    -webkit-transform: rotateZ(-5deg);
            transform: rotateZ(-5deg);
  }
}

@keyframes me {
  from {
    -webkit-transform: rotateZ(5deg);
            transform: rotateZ(5deg);
  }
  to {
    -webkit-transform: rotateZ(-5deg);
            transform: rotateZ(-5deg);
  }
}

@-webkit-keyframes clock {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes clock {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@media screen and (max-width: 1070px) {
  .splash {
    display: none;
  }
  .intro-images {
    height: 100vh;
  }
  .intro-images svg {
    height: auto;
    max-width: 80%;
  }
}
/*# sourceMappingURL=style.css.map */